@import url('https://fonts.googleapis.com/css?family=Bowlby+One+SC&display=swap');
//font-family: 'Bowlby One SC', cursive;

body {
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;

    main {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: url('bg/background1.jpg') no-repeat center fixed;
        background-size: cover;
        
    
        h1 {
            position: absolute;
            top: 10%;
            left: 0; 
            right: 0; 
            margin-left: auto; 
            margin-right: auto; 
            font-family: 'Bowlby One SC', cursive;
            margin: 0; //--wyłacza marginesy na przyszłosc
            padding: 0;
            text-align: center; //--wyrownuje tekst w kontenerze, ale kontener i tak jest na spodku wiec nie potrzebny
            font-size: 10em;
            letter-spacing: 10px;
            background: url("bg/background2.jpg") no-repeat center fixed;
            background-size: cover; //-- up
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;

        }
        

        .parallax-manhattan {
            position: absolute;
            margin: 0;
            padding: 0;
            width: 100vw;
            height: 100vh;
            background: url('bg/background-man.png') no-repeat center fixed;
            background-size: cover;
            z-index: 100;
        }
    }
}
