.progress-bar {
  width: 100%;
  height: 8px;
  background-color: #cacaca;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.progress-bar__inner {
  height: 100%;
  width: 0%;
  background-color: #ff0000;
}